* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

h1, h3 {
    font-family: sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 10px;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.8em;
    margin-bottom: 50px;
    font-style: italic;
    font-weight: bold;
}

#center{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }
}



#left-task-area{
    flex: 2.5;
    max-width: 800px;
    background: #efefef;
    margin: 10px;
}

#left-task-area h3 {
    color: #373030;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

#right-option-area {
    flex: 1;
    max-width: 320px;
    background-color: rgb(57, 57, 57);
    border-radius: 8px;
    box-shadow: #373030 0px 0px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

#right-option-area * {
    margin: 12px;
    min-height: 40px;
}

#right-option-area h3 {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

#right-option-area textarea { 
    resize: none;
    align-items: center;
    font-size: 1.4em;
    justify-content: center;
    padding: 5px;
}

#right-option-area select{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

#right-option-area button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

#right-option-area button:hover {
    background-color: #14a8e3;
    color: #ffffff;
}

#right-option-area select:hover {
    background-color: #14a8e3;
    color: #ffffff;
}


.task-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 7px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    background-color: #373030;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    @media (max-width: 800px) {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
    }
}

.task-form * {
    margin-inline: 10px;
    @media (max-width: 800px) {
        margin: 8px;
    }
}

.task-form textarea{
    resize: none;
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding: 2px;
    border-radius: 5px;
    @media (max-width: 800px) {
        flex: 3 1 auto;
        width: auto;
    }
}

.task-form select, .task-form button {
    @media (max-width: 800px) {
        flex: 1 1 auto;
    }
}

.task-form select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

.task-form button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #66e314;
    font-size: 20px;
    cursor: pointer;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #373030;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.task * {
    margin: 5px;
}

.task button {
    background-color: #ffffff;
    color: #373030;

    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    aspect-ratio: 1;
    display: grid;
}

.task select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
}

.task select:hover {
    background-color: #14a8e3;
    color: #ffffff;
}

.btn-edit-task:hover {
    background-color: #14a8e3;
    color: #ffffff;
}

.btn-delete-task:hover {
    background-color: #e31414;
    color: #ffffff;
}

.task i {
    font-size: 2cqmin;
}

.task p {
    flex: 1;
    text-align: left;
    font-size: 1.4em;
}

.no-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #373030;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 10px;
    padding: 10px;
}